a {
	text-decoration: none;
	color: white;
	margin: 8px;
}

nav {
	background-color: grey; 
	padding: 16px;
}

.corpo {
	background-color: grey; 
}

#msg_erro{
	background-color: red; 
	color: white; 
	font-weight: bold; 
	font-size: 18px;
}